<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>com.youngwilly.chatgpt-task-rss</string>
<key>ProgramArguments</key><array><string>/bin/zsh</string><string>-lc</string><string>cd '__ROOT__' &amp;&amp; npm run collector:run</string></array>
<key>RunAtLoad</key><false/>
<key>StartCalendarInterval</key><array>
<dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>40</integer></dict>
<dict><key>Weekday</key><integer>0</integer><key>Hour</key><integer>22</integer><key>Minute</key><integer>10</integer></dict>
</array>
<key>StandardOutPath</key><string>__ROOT__/logs/collector.log</string>
<key>StandardErrorPath</key><string>__ROOT__/logs/collector-error.log</string>
</dict></plist>
